# Enviroment variables related files
.env
.env.local
.env.*.local

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Javascript/Typescript
node_modules/
dist/

# Python
.venv/
__pycache__/
*.pyc
